<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Details</title>
</head>
<body>
    <h2 class="text-center">User {{users.id}}</h2>
    <p>Full Name {{users.full_name()}}</p>
    <p>Email: {{users.email}}</p>

    <p>Created ON: {{user.created_at.strftime("%b %d %Y")}}</p>
    <p>Last Updated: {{  user.updated_at.strftime("%b %d %Y")}}</p>
</body>
</html>