<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome {{user.first_name}} {{user.last_name}}</h1>
    <a href="/welcome">Home</a>
    <a href="/logout">Logout</a>
    <div class="container p-3 my-3 bg-primary text-white">
        <h2>{{recipe.recipe_name}}</h2>
        <p>{{recipe.description}}
        <p>{{recipe.instructions}}
    </div>
</body>
</html>